<div class="container-fluid pt-2">
    <nav>
        <ul>
            <li>
                <button class="btn btn-dark" [routerLink]="['files-list']" title="Show Files List">
                    <i class="bi bi-list me-1"></i>
                    <span>Files List</span>
                </button>
            </li>
            <li>
                <button class="btn btn-dark" [routerLink]="['upload-file']" title="Upload File">
                    <i class="bi bi-cloud me-1"></i>
                    <span>Upload File</span>
                </button>
            </li>
            <li>
                <button class="btn btn-dark" [routerLink]="['upload-files']" title="Upload Multiple Files">
                    <i class="bi bi-cloud-upload me-1"></i>
                    <span>Upload Multiple Files</span>
                </button>
            </li>
        </ul>
    </nav>
</div>